
body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #707070;
background-color: white;
letter-spacing: 1px;
}

h2 {
  font-size: 2em;
  font-weight: 300;

}

/* Sidebar Section */
section {
  height: 25%;
}

.sidebar {
text-align: center;
margin: 0;
padding: 0;
width: 300px;
background-color: white;
position: fixed;
height: 100%;
overflow: auto;
box-shadow: 1px 0 5px -2px #888;
}

.sidebar a {
display: block;
color: #707070;
/* color: rgb(179, 179, 179); */
padding: 8px;
text-decoration: none;
font-weight: 200;
list-style: inline;
}

.sidebar a.active {
  color: black;
}

.sidebar a:hover {
  letter-spacing: 3px;

}

/* Logo */
.logo {
 
}

.avi {
    /* border-radius: 50%; */
    padding-top: 10%;
    width: 33%;
}

/* Content Header + animation */
.content-header {
  margin-left: 0;
  padding-left: 0;
  background-image: url("img/header5.png");
  width: 100%;
  height: 25%;

  animation: gradient 333s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* Content Section */
.section1 {
  padding: 1px 16px;
}

.content-section {
  height: 5%;
}

div.content {
margin-left: 300px;
height: 1000px;
}

/* List of Items */
.list {
  max-width: 1400px;
  overflow-wrap: break-word;
  margin-left: 0;
  padding-inline-start: 0px;
  

}
h3 {
  font-weight: 400;
  letter-spacing: 1px;
  color: #707070;
}

.img-list a {
  text-decoration: none;
  color: rgb(179, 179, 179);
 
}

.li-sub p {
  margin: 0;
  font-size: 85%
}

.li-sub p:hover {
  margin: 0;
  text-decoration: underline;
}
.list-description {
  width: 85%;
  overflow-wrap: break-word;
  font-size: smaller;
  color: #cacaca;
}

.list li {
  padding-top: 1em;
  padding-bottom: 1em;
  /* border-bottom: 1px solid #ccc; */
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.list li:hover{
border-left: 6px solid white;
}

.inner {
  display: table-row;
  overflow: hidden;
}
.li-img {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  padding-right: 1em;
}
.li-img img {
  display: block;
  width: 100%;
  height: auto;
  
}
.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 70%;
}
.li-head {
  margin: 10px 0 0 0;
}
.li-sub {
  margin: 0;
}

@media all and (min-width: 45em) {

  .list li {
    float: left;
    width: 50%;
  }
}

@media all and (min-width: 75em) {

  .list li {
    width: 33.33333%;
  }
}

/* Responsive Media Queries */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    background-image: url("img/header5.png");

    animation: gradient 333s ease infinite;
  }
  .sidebar a {float: left;}
  .content-header {
    display: none;
  }
  div.content {margin-left: 0;}

  img {
    /* border-radius: 50%; */
    width: 17%;
  }


  }
  @media screen and (max-width: 400px) {

  .sidebar a {
    display: inline;
    text-align: center;
    float: none;
  }
}

/* for flexbox */
@supports(display: flex) {

  .list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .li-img,
  .li-text,
  .list li {
    display: block;
    float: none;
 
  }

  .li-img {
    align-self: center; /* to match the middle alignment of the original */
  }
  
  .inner {
    display: flex;
  }
}

/* for grid */
@supports(display: grid) {
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  
  .list li {
    width: auto; /* this overrides the media queries */
  }
}
